body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: "Microsoft YaHei",sans-serif;
   }
   
header,nav{
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 26, 28);
  }

  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  
  nav ul{
    /* 适应屏幕 */

    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 25px;
    height: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

#appname{
    float: left;
    font-size: 50px;
    margin: 0;
    /* 居中 */
    text-align: center;
    color: azure;
} 

#logo{
    width:50px;
    height: 50px;
    float: left;
}

main{
    margin-top: 0px;
    width: 100%;
    height: 100%;
    flex: 100%;
    display: flex;
    flex-direction: row;
}
main a{
    font-size: 15px;
    height: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(14, 12, 12);
}






