body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Microsoft YaHei",sans-serif;
 }
 
header,nav{
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(27, 26, 28);
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul{
  /* 适应屏幕 */

  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 25px;
  height: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#appname{
  float: left;
  font-size: 50px;
  margin: 0;
  /* 居中 */
  text-align: center;
  color: azure;
} 

#logo{
  width:50px;
  height: 50px;
  float: left;
}

main{
  margin-top: 0px;
  width: 100%;
  height: 100%;
  flex: 100%;
  display: flex;
  flex-direction: row;
}
main a{
  font-size: 15px;
  height: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(14, 12, 12);
}

/* 设置主元素样式 */
/* 设置侧边栏样式 */
#sideBar {
display: flex;
width: 20%; /* 侧边栏占主区域的25% */
background-color: #fafafa; /* 侧边栏背景色 */
margin: 0;
padding: 0;
border: 1mm solid #1ca58e;
}


#viweOptions{
display: flex;
flex-direction:column;
list-style-type: none;
list-style: none;
width: 100%;
height: 20%;
/* 去掉margin和padding */
margin: 0 !important;
padding: 0 !important;
}

.view{
/* 字体居中显示 */
text-align: center;
list-style-type: none;
list-style: none;
border: 1px solid black;
background-color: rgb(106, 152, 172);
box-shadow: inset;
width: 100%;
}

/* 设置中央可视化区域样式 */
#centerVis {
flex: 1; /* 中央可视化区域占剩余空间 *
display: flex;
flex-direction: column; /* 垂直方向的弹性布局 */
}

/* 设置右侧可视化区域样式 */
#rightVis {
width: 20%; /* 右侧可视化区域占主区域的25% */
background-color: #fafafa; /* 右侧可视化区域背景色 */
margin: 0;
padding: 0;
border: 1mm solid #1ca58e;
}

/* 其他样式可以根据需要添加 */

